* {
  margin:0;
  padding:0;
}


body {
  background-color: lightblue;
  color:black;
  font-family: sans-serif;

  
}

ul li {
  margin:3px 10px;
 }


.header .logo {
  max-width:auto;
  margin-bottom: 6px;
}

a {
  text-decoration: none;
  margin:auto 10px;
  color:#fff;
}

.sidebar {
  background-color: #272c33;
  color:beige;
  margin:2px;
  padding: 3px;
  min-height:500px;
  text-align: center;
  border-radius: 3px;
} 
 
.sidebar  h3 {

  margin:8px -10px;
}

ul {
  list-style-type: none;
}
.sidebar ul {
  
  display: flex;
  padding:4px;
  flex-direction: column;
  align-items: center;
  
} 
.sidebar ul li {
  margin: 20px 6px;
}
.sidebar ul li:last-child {
  position: relative;
  bottom: -100px;
}


  



/* 
*styling for the main component
 */
 .main {
  min-height:600px;
  background-color: gainsboro;
  z-index:1;
  border-radius: 4px;
  padding:10px;
  margin:4px;
  box-shadow: 3px 3px 2px red;
  color:#fff;
 }

 .main .courses {
  width:100%;
  background-color: #fff;
  color:grey;
  border:2px solid silver;
  padding:3px;
  border-radius:6px;
  display: flex;
  flex-direction: column;
 }
 .courses  .showAll {
  align-self: flex-end;
  margin-right: 6px;
 }

 .courses h2,p {
  margin:3px 5px;

 }
 hr {
  width:100%;
 }
 .new_course {
  padding:4px 6px;
  display: flex;
   justify-content: center;
  flex-direction: column; 
 }

 .new_course p {
 
  margin-top: 3px;
  font-size: 20px;
 }
 .new_course a {
   color:#272c33;
   align-self: flex-end;
   justify-self: end;
 }
  
/* 
*styling for the new course component
 */
 .form {
  max-width:700px;
  margin:70px auto;
 }
 